* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: inline-block;
}

header {
    height: 5rem;
    width: 17rem;
    background-color: #FBD8BC;
    border: solid 1px;
    margin-bottom: 10px;
}

nav {
    display: inline-block;
    height: 6rem;
    width: 4rem;
    background-color: #B7DDE8;
    border: solid 1px;
    vertical-align: top;
    margin-right: 10px;
}

#section1 {
    height: 9rem;
    width: 12rem;
    background-color: #d8d8d8;
    vertical-align: top;
    border: solid 1px;
}

#section1 span {
    display: block;
}

#section1 article {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-color: #8db1e3;
    margin-left: 10px;
}

.aside {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    vertical-align: top;
}

.aside aside {
    width: 2rem;
    height: 2rem;
    background-color: orangered;
    margin-bottom: 10px;
}

#section2 {
    height: 9rem;
    width: 12rem;
    background-color: #d8d8d8;
    vertical-align: top;
    margin-top: 10px;
    border: solid 1px;
}

#section2 aside {
    width: 2rem;
    height: 2rem;
    background-color: orangered;
    margin-bottom: 10px;
    margin-left: 9rem;
}

footer {
    width: 17rem;
    height: 5rem;
    background-color: darkseagreen;
    margin-top: 10px;
    border: 1px solid;
}